#board {
    margin: 2rem 1rem 1rem 1rem;
    border: 1px solid black;
    background-color: darkgray;
    padding: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0.3rem;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: x-large;
    box-shadow: 1px 1px 0.5px grey;
    border-radius: 10%;
    margin: 0.05rem;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-10%);
    box-shadow: 0px 5px 2.5px grey;
    border: 2px solid red;
}

.btn.active {
    transform: translateY(-5%);
    box-shadow: 0px 2.5px 1.25px grey;
    border: 2px solid red;
}

#progress {
    width: 100%;
    background-color: grey;
  }
  
#bar {
    width: 100%;
    height: 15px;
    background-color: aqua;
    opacity: 0.8;
    line-height: 15px;
    color: black
  }

#alertBox {
    width: 100%;
    position: absolute;
    z-index: 103;
    top: 30%;
    text-align: center;
    background: lightpink;
    border: 1px solid crimson
}

#stageMenu {
    text-align: center;
    padding: 2rem;

}

.stageHeader {
    padding: 0 0 2rem 0;
}

.btnRow {
    justify-content: space-between;
    display: flex;
    height: 75px;
    margin: 2rem;
}

.btnRow > .stage {
    height: 100%;
    width: 80px;
    font-size: x-large;
    border: 10px solid black;
    border-radius: 5%;
    background: lawngreen;
    cursor: pointer;
}

.btnRow > .stage.locked {
    height: 100%;
    width: 80px;
    font-size: x-large;
    border: 10px solid black;
    border-radius: 5%;
    background: crimson;
    opacity: 0.8;
}